<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="2_1cart_modal">

    <div class="cart hide">
        <div class="cart--info">
            <div class="cart--info--title">
                <a href="javascript: void(0);" id="icon_close_cart"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <h2>Giỏ Hàng</h2>
            </div>
            <div class="cart--info--content">

            </div>
            <div class="cart--info--total">
                <h2>Tổng Tiền :</h2>
                <span> </span>
            </div>
            <div class="cart--info--show">
                <a href="/cart">Chi Tiết Giỏ Hàng</a>
            </div>
        </div>
    </div>

</th:block>